modLoader = "javafml"
loaderVersion = "${loader_version_range}" #mandatory
license = "${mod_license}"
[[mods]]
modId = "${mod_id}"
version = "${mod_version}"
displayName = "${mod_name}"
authors = "${mod_authors}"
description = '''${mod_description}'''

[[mixins]]
config = "${mod_id}.mixins.json"

[[dependencies."${mod_id}"]]
modId = "neoforge"
type = "required"
versionRange = "${neo_version_range}"
ordering = "NONE"
side = "BOTH"

[[dependencies."${mod_id}"]]
modId = "minecraft"
type = "required"
versionRange = "${minecraft_version_range}"
ordering = "NONE"
side = "BOTH"

#[[dependencies."${mod_id}"]]
#modId="farmersdelight"
#mandatory=false
#versionRange="[1.2.9,)"
#ordering="NONE"
#side="BOTH"